@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("./src/fonts/OpenSans-Light.woff2") format("woff2"),
    url("./src/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("./src/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./src/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("./src/fonts/OpenSans-Medium.woff2") format("woff2"),
    url("./src/fonts/OpenSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("./src/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./src/fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("./src/fonts/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 900;
  src: url("./src/fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("./src/fonts/OpenSans-ExtraBold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-width: 1200px;
  margin: auto;
}
.header .logo img {
  width: 40px;
}
.header .nav-items ul {
  display: flex;
}
.header .nav-items ul li {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  cursor: pointer;
}
.header .nav-items ul li a {
  text-decoration: none;
  color: #000;
  margin: inherit;
  padding: inherit;
  font-weight: inherit;
}
.body {
  max-width: 1050px;
  margin: auto;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-container a {
  text-decoration: none;
  color: #000;
}
.card {
  width: 220px;
  min-height: 300px;
  margin: 20px;
}
.card:hover {
  transition: all 0.1s ease-in-out 0s;
  transform-origin: center center;
  transform: scale(0.95, 0.95);
  cursor: pointer;
}
.card .res-img {
  width: 100%;
  height: 150px;
  border-radius: 15px;
}
.card .res-details {
  padding: 10px;
}
.card .res-name,
.res-rating span {
  font-weight: 500;
}
.card .res-name,
.res-rating span:first-child::after {
  content: "\00B7";
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: auto;
}
.shimmer-card {
  width: 220px;
  min-height: 300px;
  margin: 20px;
  background-color: #d3d0d0;
}
.restaurant-shimmer {
  background-color: #d3d0d0;
  width: 65%;
  margin: auto;
  min-height: 600px;
}
.filter-container {
  display: flex;
}
.filter-btn {
  background: transparent;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.search {
  display: flex;
  margin-left: 15px;
}
.input-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.input-container input {
  border: none;
}
.input-container input:focus {
  outline: none;
}
.input-container span {
  cursor: pointer;
}
.btn {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary {
  background-color: rgb(43, 114, 185);
  color: #fff;
}
.restaurant-details-container {
  max-width: 980px;
  margin: auto;
}
.restaurant-details {
  display: flex;
  justify-content: space-between;
}
.menu-title h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  color: #3e4152;
}
.menu-title h4 {
  cursor: pointer;
}
.list {
  height: 0;
  overflow: hidden;
}
.list li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.list li img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.list li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.menu-title span {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-weight: 800;
  color: #3e4152;
  padding: 10px;
}
.menu-title .list.active {
  height: 100%;
}
